name: Lighthouse CI

on:
  push:
    branches:
      - develop

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Lighthouse
        uses: foo-software/lighthouse-check-action@master
        with:
          locale: "ja"
          device: "mobile"
          prCommentSaveOld: true
          gitHubAccessToken: ${{ secrets.RENOVATE_TOKEN }}
          urls: "https://tinvesta-oyrbpgm7x-playerony.vercel.app"
